.main{
    background-color: #F6F6F6;
    color: #7A7A7A;
}

.card{
    background-image: url('../public/profile_user_info_card_bg.png');
}

.btnDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.addAddressbutton{
    width:80px;
    height: 80px;
    border-radius: 50%;
    background-color: #0040ff;
    color: white;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnRounded{
    height: 60px;
    width: 120px;
    background-color: pink;
    border-radius: 42%;
    font-size: large;
    font-weight: bold;
}


